<%- include('partials/head') %>
<link rel="stylesheet" href="/css/style.css">
</head>
<title>Ask</title>
<body>
    <nav class="navbar">
        <a class="navbar-brand btn btn-primary" href="/" id="askNavButton">Home</a>
      </nav>
    <div class="container">
        <div class="card" id="askCard">
            <div class="card-header">
                <h1>Ask your question</h1>
            </div>
            <div class="card-body">
                <form action="/postData" method="post">
                    <label for="title">Title</label>
                    <input class="form-control" name="title" type="text" placeholder="Question title" required autofocus>
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" required placeholder="Describe your question"></textarea>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/bootstrapScript') %>