<%- include('partials/head') %>
<link rel="stylesheet" href="/css/style.css">
</head>
<title>Forms</title>
<body>
    <nav class="navbar">
        <a class="navbar-brand btn btn-primary" href="/ask" id="askNavButton">Create Question</a>
      </nav>
</body>
<%- include('partials/bootstrapScript') %>